@import './variables.scss';

.headerContainer {
  display: flex;
  justify-content: center;

  > .headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 614px;

    > .headerText {
      font-size: 64px;
      font-family: var(--font-sky-text);
      font-weight: 400;
      line-height: 96px;
      text-align: center;

      @include mobile {
        font-size: 40px;
        line-height: 44px;
      }

      > span {
        @include bg-gradient();
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    > .headerDesc {
      font-family: var(--font-sky-text);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;

      @include mobile {
        padding: 0 16px 0 16px;
      }
    }
  }
}
